### Insted of using mysql connect we have better option of SQLalchemy

In [1]:
## import basic library
import numpy as np
import pandas as pd

In [2]:
## Install the sqlalchemy
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\91860\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\91860\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
##Import from sqlalchemy
import sqlalchemy
from sqlalchemy import create_engine
import sqlalchemy.dialects.sqlite

### Create engine to join database name 'data'

In [4]:
## Create a connection by create_engine. here data is my database
engine= sqlalchemy.create_engine("mysql+pymysql://root:password@sql@localhost:3306/data")

In [7]:
df=pd.read_sql_query("Select * from festive_trend;",engine)
df.head()

,Festival,weekNumber,year,SubCategoryName,CategoryName,BrandName,Revenue,MRPSale
0,Republic Day,4,2018,s2,c2,b3,6372.75,6405
1,Republic Day,4,2018,s2,c2,b2,5465.01,5520
2,Republic Day,4,2018,s3,c3,b1,11066.35,11250
3,Republic Day,4,2018,s2,c1,b4,2682.48,2766
4,Republic Day,4,2018,s3,c2,b4,7190.61,7236